<div class="footerContainer">
 <div class="footerInfo">
  <div class="footerMain">
   <ul>
    <a href=""><li>GIFT CARDS</li></a>
    <a href=""><li>PROMOTIONS</li></a>
    <a href=""><li>SIGN UP FOR EMAIL</li></a>
    <a href=""><li>BECOME A MEMBER</li></a>
    <a href=""><li>SEND US FEEDBACK</li></a>
    <a href=""><li>CONTACT US</li></a>
   </ul>
  </div>
  <div class="footerGetHelp">
   <p class="header">GET HELP</p>
   <ul>
    <a href=""><li>CUSTOMER HELP</li></a>
    <a href=""><li>SHIPPING AND HANDLING</li></a>
    <a href=""><li>ORDER HELP</li></a>
    <a href=""><li>TRACK MY ORDER</li></a>
    <a href=""><li>GIFT CARD BALANCE</li></a>
    <a href=""><li>PAYMENT METHODS</li></a>
   </ul>
  </div>
  <div class="footerAbout">
   <p class="header">ABOUT US</p>
   <ul>
    <a href=""><li>NEWS</li></a>
    <a href=""><li>CAREERS</li></a>
    <a href=""><li>INVESTMENT</li></a>
    <a href=""><li>MAIL</li></a>
    <a href=""><li>PHONE</li></a>
   </ul>
  </div>
  <div class="footerSocialnPayment">
   <div class="social">
    <p class="header">Social Links</p>
    <img src="/imgs/icons/socialIcons/twitter.svg" alt="twitter logo" />
    <img src="/imgs/icons/socialIcons/instagram.svg" alt="instaram logo" />
    <img src="/imgs/icons/socialIcons/facebook.svg" alt="facebook logo" />
    <img src="/imgs/icons/socialIcons/youtube.svg" alt="youtube logo" />
   </div>
   <div class="payment">
    <p class="header">Payment Methods</p>
    <div class="paymentContainer">
     <img src="/imgs/icons/paymentIcons/visa.svg" alt="payment method visa accepted" />
     <img src="/imgs/icons/paymentIcons/paypal.svg" alt="payment method paypal accepted" />
     <img src="/imgs/icons/paymentIcons/mastercard.svg" alt="payment method mastercard accepted" />
     <img src="/imgs/icons/paymentIcons/amex.svg" alt="payment method amex accepted" />
     <img src="/imgs/icons/paymentIcons/googlepay.svg" alt="payment method googlepay accepted" />
     <img src="/imgs/icons/paymentIcons/applepay.svg" alt="payment method applepay accepted" />
    </div>
   </div>
  </div>
 </div>
 <div class="footerLogo">
  <a href=""><img src="/imgs/logo/secondary_logo.svg" alt="logo" /></a>
 </div>
 <div class="copyright">
  <p>Copyright <%= new Date().getFullYear() %> NITRO ENGINE All Rights Reserved</p>
 </div>
</div>