<div class="navOptions">
 <ul>
   <a href="/item/catalog"><li class="activeNav">View Item Catalog</li></a>
   <a href="/item/catalog/hero"><li>View Hero Catalog</li></a>
   <a href="/item/catalog/collections"><li>View Collections Catalog</li></a>
   <a href="/upload/item"><li>Upload Item</li></a>
   <a href="/upload/hero"><li>Upload Hero</li></a>
   <a href="/upload/collection"><li>Upload Collections</li></a>
 </ul>
</div>