<!DOCTYPE html>
<html lang="en">
 <head>
     <%- include("./partials/head", {title : "Edit Account"}) %> 
 </head>
 <body>
   
  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

   
  <% function capLetter(string) { %> 
   <% return string.charAt(0).toUpperCase() + string.slice(1); %> 
  <% } %>
   
  <% function trimWhiteSpace(string) { %> 
   <% return string.replace(/ /g,'') %> 
  <% } %>

  <!-- NavBar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

  <section class="accountSection">
    <div class="accountInfoContainer editAccount">
      <h1 class="cartheader">Account Information</h1>
      <% if(userInfo != undefined) { %> 
        <div class="fieldContainer">
          <p>Current Password</p>
          <input type="password" name="password" id="password" required>
        </div>
        
        <div class="fieldContainer">
         <p>New Password</p>
         <input type="password" name="newPassword" id="newPassword"  required>
        </div>

        <div class="fieldContainer">
         <p>Confirm Password</p>
         <input type="password" name="confirmPassword" id="confirmPassword" required>
        </div>

        <div class="fieldContainer resError">
         <p></p>
         <p></p>
        </div>

        <div class="fieldContainer errMessageContainer">
        </div>

        <div class="fieldContainer">
          <p> </p>
          <button class="btn btn2 changePassword">Change Password</button>
        </div>

     <% } %> 
    </div>
  </section>

  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %>
  <script src="/js/editAccount.js"></script>
  </body>
</html>
