@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
 --background-color: #fff;
 --primary-color: #222831;
 --secondary-color: #393946;
 --accent-color: #ffd369;
 --accent-color-secondary: #eee;
 --accent-color-third: #f39f86;
 --border-color: hsla(216, 18%, 16%, 0.6);
 --red-color: #ff3737;
 --text-color: #222831;
 --font-family: "Montserrat", sans-serif;
 --container-width: 90%;
 --primary-X-padding: 30px;
 --primary-Y-padding: 0px;
 --container-padding: 30px;
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
a:link,
a:active,
a:visited,
a:hover {
 color: inherit;
 text-decoration: none;
}
nav {
 border-bottom: 1px solid hsl(216, 18%, 16%, 0.6);
}
.heading {
 text-align: left;
 padding: 10px 0;
 margin: 0;
}
.newArrivals {
 padding: 30px 0;
 border-bottom: 2px solid hsl(216, 18%, 16%, 0.6);
}
.arrivalContainer {
 grid-template-columns: repeat(auto-fill, 180px);
}
.card {
 height: auto;
 cursor: pointer;
}
.cardImgContainer {
 height: 200px;
}
.card .cardInfo {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(227, 227, 227, 0.2) 60%, rgba(0, 0, 0, 0.6) 100%);
 position: relative;
 display: block;
 height: 100%;
 padding: 0;
}
.card .cardInfo p {
 text-align: left;
 position: absolute;
 padding: 10px;
 margin: 0;
 top: 70%;
 color: white;
}

/* item content */
.ItemsShownContainer {
 display: flex;
 width: var(--container-width);
 margin: 40px auto;
}
/* filter box */
.filterContainer {
 width: 15%;
}
.itemsShownFilter {
 width: 95%;
 margin: auto;
 user-select: none;
}

.filterHeader,
.filterMainHeader {
 display: flex;
 justify-content: space-between;
 padding: 5px 0;
 border-bottom: 1px solid var(--primary-color);
 cursor: pointer;
 margin: 5px 0;
}
.filterMainHeader {
 cursor: context-menu;
}

.itemsShownFilter h5 {
 font-family: var(--font-family);
 font-weight: 600;
 font-size: 16px;
}
.contentOptions {
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
 font-family: var(--font-family);
}

.contentOptions > input {
 height: 15px;
 width: 15px;
 -webkit-appearance: none;
 -moz-appearance: none;
 -o-appearance: none;
 appearance: none;
 border: 1px solid var(--primary-color);
 border-radius: 3px;
 outline: none;
 transition-duration: 0.3s;
 cursor: pointer;
 margin-right: 5px;
}
.contentOptions > input:checked {
 border: 1px solid var(--primary-color);
 background-color: var(--accent-color);
}

.contentOptions > label {
 cursor: pointer;
 opacity: 0.7;
}
.contentOptions > label:hover {
 cursor: pointer;
 opacity: 1;
 transition: all 0.3 ease;
}
/* item card */
.itemShownContent {
 width: 85%;
 font-family: var(--font-family);
}
.resultHeading {
 font-size: 18px;
 padding: 10px 30px 30px 30px;
}
.resultHeading span {
 font-weight: 600;
}
.itemCardContainer {
 display: grid;
 grid-template-columns: repeat(auto-fill, 290px);
}
.itemCard {
 margin: 0 10% 20% 10%;
}

.itemCardImgContainer img {
 height: 300px;
 width: 260px;
 border-radius: 5px;
 cursor: pointer;
}
.itemHeading {
 font-weight: 600;
 padding-top: 5px;
 cursor: pointer;
}
.itemDescription {
 font-size: 14px;
 opacity: 0.7;
}
.itemPrice {
 font-weight: 500;
 padding: 10px 0;
}
