@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
 --background-color: #fff;
 --primary-color: #222831;
 --secondary-color: #393946;
 --accent-color: #ffd369;
 --accent-color-secondary: #eee;
 --accent-color-third: #f39f86;
 --border-color: hsla(216, 18%, 16%, 0.6);
 --red-color: #ff3737;
 --text-color: #222831;
 --font-family: "Montserrat", sans-serif;
 --container-width: 90%;
 --primary-X-padding: 30px;
 --primary-Y-padding: 0px;
 --container-padding: 30px;
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
a:link,
a:active,
a:visited,
a:hover {
 color: inherit;
 text-decoration: none;
}
#header {
 width: var(--container-width);
 margin: auto;
 display: flex;
 justify-content: space-between;
 font-family: var(--font-family);
}
.logo {
 padding: 10px 0;
}
.logo img {
 height: 35px;
}
.navBarOps ul {
 display: flex;
 align-items: center;
 height: 100%;
 list-style: none;
}
.navBarOps ul li {
 padding: 20px 10px;
 height: 100%;
 position: relative;
 opacity: 0.8;
 transition: opacity 0.2s ease;
}
.navBarOps ul li:hover {
 opacity: 1;
 transition: opacity 0.2s ease;
}
.navBarOps .dropDown {
 background-color: var(--accent-color-secondary);
 position: absolute;
 display: block;
 width: auto;
 height: 0;
 overflow: hidden;
 border-radius: 5px;
 left: 0;
 margin-top: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 z-index: 20;
}
.navBarOps .dropDown::before {
 content: " ";
 top: -10px;
 left: 6px;
 position: absolute;
 background-color: var(--accent-color-secondary);
 height: 25px;
 width: 25px;
 transform: rotate(45deg);
 border-radius: 5px;
 user-select: none;
}
.navBarOps li:hover .dropDown {
 height: auto;
 overflow: visible;
}
.navBarOps .dropDown li {
 list-style: none;
 font-weight: 500;
 font-size: 15px;
 padding: 4px 70px 4px 10px;
 margin: 10px 0;
 cursor: pointer;
 opacity: 0.6;
 transition: opacity 0.2s ease;
 white-space: nowrap;
}
.navBarOps .dropDown li:hover {
 opacity: 1;
 transition: opacity 0.2s ease;
}
.searchBar {
 position: relative;
 display: flex;
 align-items: center;
}
.searchBar input {
 background-color: var(--accent-color-secondary);
 padding: 10px 20px;
 border-radius: 110px;
 width: 300px;
 border: 1px solid rgb(216, 216, 216);
 outline: none;
}
.searchBar img {
 height: 20px;
 position: absolute;
 right: 10px;
 cursor: pointer;
 opacity: 0.5;
 transition: opacity 0.2s ease;
}
.searchBar img:hover {
 transition: opacity 0.2s ease;
 opacity: 100%;
}
.functionIcons {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.functionIcons img {
 height: 24px;
 margin: 0 8px;
 opacity: 0.7;
 transition: opacity 0.2s ease;
}
.functionIcons img:hover {
 opacity: 1;
 transition: opacity 0.2s ease;
}

.account {
 position: relative;
 cursor: pointer;
}
.accountContainer {
 background-color: var(--accent-color-secondary);
 position: absolute;
 border-radius: 5px;
 right: 0;
 margin-top: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 width: auto;
 z-index: 50;
}
.accountContainer::before {
 content: " ";
 top: -10px;
 right: 6px;
 position: absolute;
 background-color: var(--accent-color-secondary);
 height: 25px;
 width: 25px;
 transform: rotate(45deg);
 border-radius: 5px;
 user-select: none;
}
.accountContainer li,
.logout {
 list-style: none;
 font-weight: 500;
 font-size: 15px;
 padding: 4px 70px 4px 10px;
 margin: 10px 0;
 cursor: pointer;
 opacity: 0.6;
 transition: opacity 0.3s ease;
 white-space: nowrap;
}
.logout {
 background: none;
 width: 100%;
 text-align: left;
 margin-top: -5px !important;
 outline: none;
 border: none;
}
.accountContainer li:hover,
.logout:hover {
 height: auto;
 opacity: 1;
 transition: all 0.3s ease;
}
.toggleDropDown {
 display: none;
}
.ifNotLoggedIn {
 display: flex;
}
.ifNotLoggedIn p {
 margin-right: 10px;
 font-weight: 500;
 cursor: pointer;
 opacity: 0.7;
 transition: opacity 0.3s ease;
}
.ifNotLoggedIn p:hover {
 opacity: 1;
 transition: opacity 0.3s ease;
}
.itemCartContainer {
 position: relative;
}
.itemCartContainer .cartCount {
 height: 20px;
 width: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: -6px;
 right: -6px;
 border-radius: 100%;
 font-size: 14px;
}
.cartCountActive {
  background-color: var(--accent-color);
}
@keyframes dropDown {
 0% {
  height: 0;
  display: none;
 }
 100% {
  height: auto;
  display: block;
 }
}

/* hero */
.heroContainer {
 /* background: linear-gradient(168deg, rgba(255, 211, 105, 0.8) 0%, rgba(243, 159, 134, 0.8) 100%); */
 /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../imgs/mainImgs/heroImg.jpg"); */
 /* background-image:  url("../imgs/mainImgs/heroImg.jpg"); */
 background-repeat: no-repeat, repeat;
 background-size: cover;
 background-position: center;
 /* background-position: 0% 20%; */
 height: 70vh;
 width: 100%;
}
.heroContent {
 display: flex;
 height: 100%;
 width: 90%;
 margin: auto;
}
.heroInfo {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 60%;
 height: 100%;
 font-family: var(--font-family);
 color: white;
 font-size: 32px;
}
.heroInfo h3 {
 font-size: 24px;
 padding: 20px 0;
}
.btn {
 background: var(--accent-color);
 padding: 10px;
 font-size: 16px;
 color: var(--text-color);
 font-weight: 500;
 border-radius: 1000px;
 outline: none;
 border: none;
 cursor: pointer;
}

.btn1 {
 background: linear-gradient(156deg, rgba(255, 211, 105, 1) 0%, rgba(243, 159, 134, 1) 100%);
 width: 200px;
 padding: 10px;
}
.btn2 {
 width: 150px;
 padding: 8px;
 font-size: 15px;
 transition: background 0.3s ease;
}
.btn2:hover {
 background-color: #f39f86;
 color: white;
 transition: all 0.3s ease;
}
.btn3 {
 width: 100%;
 padding: 15px;
 transition: background 0.3s ease;
}
.btn3:hover {
 background-color: #f39f86;
 color: white;
 transition: all 0.3s ease;
}

.btnDisabled {
 background: var(--accent-color-secondary);
 cursor: not-allowed;
}
.btnDisabled:hover {
 background: var(--accent-color-secondary);
 color: var(--primary-color);
 cursor: not-allowed;
}

.heroItemImg {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 40%;
}
.heroItemImg img {
 height: 60%;
}

/* Coupon container */
.couponContainer {
 background-color: var(--accent-color);
 color: var(--text-color);
}
.couponContainer .coupon {
 display: flex;
 justify-content: space-between;
 width: var(--container-width);
 padding: 20px 0;
 margin: auto;
 font-family: var(--font-family);
 font-weight: 600;
 font-size: 24px;
}
.couponContainer .textUnderLineContainer {
 position: relative;
}
.couponContainer .textUnderLineContainer .textUnderLine {
 position: absolute;
 height: 3px;
 background-color: var(--text-color);
 border-radius: 5px;
}
.textUnderLineContainer:hover .textUnderLine {
 animation: lineAnimation 0.3s ease forwards;
}
/* animate the underline */
@keyframes lineAnimation {
 0% {
  width: 0;
  left: 50%;
 }
 100% {
  width: 100%;
  left: 0;
 }
}

/* main container */
.newArrivals {
 position: relative;
 width: var(--container-width);
 margin: auto;
 padding: var(--container-padding) 0;
 font-family: var(--font-family);
}
.heading {
 padding: 50px 0 40px 0;
 font-family: var(--font-family);
 font-size: 24px;
 text-align: center;
 color: var(--text-color);
}

.arrivalContainer {
 display: grid;
 grid-template-columns: repeat(auto-fill, 250px);
 /* gap: 40px; */
 justify-content: space-between;
}
.card {
 height: 400px;
 /* width: 250px; */
 border-radius: 10px;
 overflow: hidden;
}
.cardImgContainer {
 height: 300px;
 position: relative;
 overflow: hidden;
}
.cardImgContainer img {
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 10px;
 cursor: pointer;
}
.card .cardInfo {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 height: 100px;
 padding: 7px;
}
.card .cardInfo p {
 font-weight: 500;
 text-align: center;
 padding: 8px;
 cursor: pointer;
}

/* feature */

.featureImgContainer {
 /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../imgs/mainImgs/featureImg.png"); */
 background-image: url("../imgs/mainImgs/featureImg.png");
 background-repeat: no-repeat, repeat;
 background-size: cover;
 /* background-position: 0% 20%; */
 width: var(--container-width);
 height: 550px;
 margin: auto;
 border-radius: 10px;
 padding: 150px;
 font-family: var(--font-family);
 color: white;
 line-height: 55px;
}
.featureImgContainer h1 {
 font-size: 48px;
}
.featureImgContainer h1 span {
 color: var(--accent-color);
}

.featureImgContainer h3 {
 font-size: 32px;
 font-weight: 600;
}
.featureImgContainer h5 {
 font-size: 24px;
 font-weight: 500;
}

/* Collections */
.collections {
 margin-top: 30px;
}
.collectionsContainer {
 width: var(--container-width);
 margin: auto;
 display: flex;
 justify-content: space-between;
}

/* .collectionOne {
 background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
  url("../imgs/mainImgs/collectionShoes.jpg");
}

.collectionTwo {
 background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
  url("../imgs/mainImgs/collectionClothing.jpg");
} */
.collection {
 display: flex;
 flex-flow: column-reverse;
 background-repeat: no-repeat, repeat;
 background-size: cover;
 width: 49%;
 height: 550px;
 border-radius: 10px;
 font-family: var(--font-family);
 color: white;
 position: relative;
}
.collection .collectionInfo {
 height: 24%;
 padding: 24px;
}
.collection .collectionInfo h1 {
 font-weight: 500;
 font-size: 24px;
 padding-bottom: 10px;
}

/* footer */

footer {
 background-color: #222831;
 color: white;
 font-family: var(--font-family);
 padding-top: 70px;
 margin-top: 50px;
}

.footerInfo {
 width: var(--container-width);
 margin: auto;
 display: flex;
 justify-content: space-between;
 font-size: 14px;
}
.footerInfo li {
 list-style: none;
 line-height: 30px;
}
.footerInfo li:hover {
 text-decoration: underline;
}
.footerMain {
 font-weight: 600;
}
.header {
 font-weight: 600;
 font-size: 16px;
}
.social .header {
 padding-bottom: 10px;
}
.payment .header {
 padding: 20px 0 5px 0;
}
.footerSocialnPayment img {
 opacity: 0.8;
 height: 20px;
 margin-right: 5px;
}
.footerSocialnPayment img:hover {
 opacity: 1;
}
.footerSocialnPayment .paymentContainer {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: 15px;
}
.footerSocialnPayment .paymentContainer img {
 height: 14px;
 margin: 8px 18px 5px 0;
}
.footerLogo {
 width: var(--container-width);
 margin: auto;
 padding: 30px 0;
}
.copyright {
 text-align: center;
 font-size: 15px;
 padding: 10px;
}
